.search-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.search-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 320px;
  margin-top: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
  width: 120px;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-price {
  margin: 5px 0 0;
  font-size: 16px;
  color: #666;
}
